HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
src/main/resources/uploads/*
!src/main/resources/uploads/defaultAvatar.png
!src/main/resources/uploads/hotbike.png
!src/main/resources/uploads/hotcar.png
build/
nbactions.tmp
nbactions.xml

### VS Code ###
.vscode/
