$color_1: #000000;
$color_2: #787878;
$color_3: #555555;
$color_4: #ffffff;
$color_5: #cccccc;
$color_6: #6c6c6c;
$color_7: #929292;
$color_8: #797979;
$color_9: #161616;
$font_family_1: "Sarabun", sans-serif;
$background_color_1: #4d7efc;
$background_color_2: rgba(0, 176, 240, 0.06);
$background_color_3: #240065;
$background_color_4: #e9e9e9;

.bl-home-page {
    font-family: $font_family_1;
    margin-top: 113px;
    margin-bottom: 50px;

    .font-weight-medium {
        font-weight: 500 !important;
    }

    .pd-top-15 {
        padding-top: 15px;
    }

    .pd-bottom-15 {
        padding-bottom: 15px;
    }

    .container-fluid {
        @media (min-width: 1530px) {
            max-width: 1520px;
        }
    }

    .modal.show {
        .modal-dialog {
            @media (min-width: 1530px) {
                min-width: 35%;
            }
        }
    }

    #new-project-modal {
        .modal-footer {
            .btn {
                @media (min-width: 1530px) {
                    width: 155px;
                }
            }
        }
    }

    .pagination {

        .active {
            .page-link {
                border: none;
                background-color: transparent;
                color: #000000 !important;
            }
        }

        .page-item {

            &:hover {
                border: none;
            }

            &:focus {
                border: none;
            }

            .page-link {
                border: 0;
                @include ff-srr();
                @include text-style(16px, 1.6, rgba(0, 0, 0, 0.6));

                &:hover {
                    background-color: transparent;
                    @include ff-srb();
                    @include text-style(18px, 1.6, #4d7efc);
                }
            }
        }
    }

    .side-services {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
        padding: 15px;

        .header {
            text-align: left;
            padding-top: 25px;
            padding-bottom: 25px;

            .left {
                div {
                    font-size: 24px;
                    font-weight: bold;
                    color: $color_1;

                    &:last-child {
                        font-size: 18px;
                        font-weight: normal;
                        color: $color_2;
                    }
                }

                .separator {
                    &:after {
                        content: "";
                        position: absolute;
                        border: solid #000000 0.5px;
                        height: 22px;
                        top: 7px;
                        right: -7px;
                    }
                }
            }

            .right {
                .form-search {
                    border-radius: 23px;
                }

                .search-btn {
                    position: absolute;
                    right: 11px;
                    top: 11px;
                    z-index: 4;
                    display: flex;
                }

                .search-icon {
                    background: url('../images/icon/tim kiem.png') no-repeat center;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                }
            }
        }

        .list-project {

            .col-xxl-4 {
                @media (min-width: 1530px) {
                    flex: 0 0 33.3333333333%;
                    max-width: 33.3333333333%;
                }
            }

            .new-project {
                border: dashed 1px #6badff !important;
                cursor: pointer;
                color: #6688bb;
                font-size: 18px;
                font-weight: 500 !important;

                img {
                    margin-bottom: 15px;
                }
            }

            .a-project {
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
                border: solid 1px #e6e6e6;
                padding: 15px;
                width: 100%;
                @include ff-srb();

                .project-wrap {
                    width: 100%;

                    .legend {
                        display: block !important;
                    }

                    .project-avatar {
                        float: left;

                        img {
                            width: 75px;
                            height: 75px;
                            margin-right: 12px;
                        }
                    }

                    .project-name {
                        min-height: 6rem;
                        width: 100%;

                        div, a {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        a {
                            display: block;
                        }

                        .name {
                            @include ff-srb();
                            @include text-style(18px, unset, #000000);
                        }

                        .status {
                            @include text-style(14px, unset, #555555);

                            span:last-child {
                                color: #000000;
                            }
                        }

                        .badge {
                            @include ff-srsb();
                            @include text-style-2(13px, #ffffff);
                            background-color: #4d7ffd;
                            border-radius: 9px;
                        }
                    }

                    .list-services {
                        a {
                            font-weight: bold;
                            color: $color_1;
                        }

                        .no-services {
                            font-size: 24px;
                            color: $color_5;

                            a {
                                font-weight: normal;
                                color: $color_4;
                                background-color: $background_color_1;
                            }
                        }
                    }
                }

                &:before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                }
            }
        }
    }

    .side-notification {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
        position: relative;

        .header {
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 25px;

            img {
                width: 26px;
            }

            .legend {
                @include ff-srb();
                @include text-style(22px, unset, #000000);
            }
        }

        //scroll
        ::-webkit-scrollbar {
            width: 1px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .list-noti {
            overflow: auto;
            overflow-x: visible;
            height: 790px;
            padding-bottom: 40px;
            @media (min-width: 768px) {
                height: 940px;
            }

            @media (min-width: 1024px) {
                height: 790px;
            }

            .a-noti {

                &:first-child {
                    .bl-content {
                        border-top: none;
                    }
                }

                .bl-content {
                    padding: 1rem 0;
                    border-top: solid 1px rgba(0, 0, 0, 0.1);
                }

                padding: 0 1rem;
                cursor: pointer;

                &:hover {
                    background-color: $background_color_2;
                }

                hr {
                    margin: 0;
                }

                img {
                    width: 65px;
                }

                .name {
                    @include ff-srb();
                    @include text-style(16px, unset, #000000);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 12rem;
                }

                .noti {
                    @include ff-srr();
                    @include text-style(14px, unset, #6c6c6c);
                }

                .time {
                    font-size: 13px;
                    color: $color_7;
                }
            }
        }

        .bl-bottom {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 100%;
            text-align: center;
            background-color: #fff;

            .load-more {
                padding: 10px;
            }
        }

    }

    #new-project-modal {
        opacity: 0.95;

        .modal-footer {
            border: none;
            padding-bottom: 0;

            .btn {
                border-radius: 2px;
            }
        }

        .modal-content {
            .header {
                padding: 0;

                .modal-title {
                    font-size: 30px;
                    font-weight: 600;
                }

                .sub-title {
                    font-size: 18px;
                    color: $color_8;
                }
            }
        }

        .border-dashed {
            border-radius: 50%;
            border: dashed rgba(0, 0, 0, 0.20) 1px;
            padding: 9px;
            cursor: pointer;

            .avt-bgr {
                background-color: $background_color_3;
                width: 80px;
                height: 80px;
                margin: auto;
                border-radius: 50%;
            }
        }

        .form-info-project {
            label {
                font-weight: 600;
                font-size: 16px;
            }

            input {
                font-size: 16px;
                border-radius: 3px;
                border: solid 1px rgba(149, 149, 149, 0.2);
            }

            select {
                font-size: 16px;
                border-radius: 3px;
                border: solid 1px rgba(149, 149, 149, 0.2);
            }

            textarea {
                font-size: 16px;
                border-radius: 3px;
                border: solid 1px rgba(149, 149, 149, 0.2);
            }
        }

        .dismiss {
            border: solid 1px rgba(149, 149, 149, 0.26);
            background-color: $background_color_4;
            color: $color_9;
        }

        .submit {
            background-color: $background_color_1;
            color: $color_4;
        }
    }
}
