<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Charts</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Danh sách người dùng
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Avatar</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Avatar</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>

                    <tr th:if="${users.empty}">
                        <td colspan="2"> No User Available </td>
                    </tr>

                    <tr th:each="user : ${users}">
                        <td th:text="${'#' + user.id}">Tiger Nixon</td>
                        <td th:text="${user.fullName}">System Architect</td>
                        <td><img th:src="${url + user.image}" th:alt="${user.fullName}" width="120px"></td>
                        <td th:text="${user.email}">61</td>
                        <td th:text="${user.phone}">2011/04/25</td>
                        <td th:text="${user.status == 2} ? 'Bị khóa' : 'Đang hoạt động'" th:class="${user.status == 2} ? 'text-danger' : 'text-success'">$320,800</td>
                        <td><a th:id="${user.id}" href="javascript:void(0);" th:class="(${user.status == 2} ? 'btn btn-primary btn-user-status' : 'btn btn-danger btn-user-status')" th:text="${user.status == 2 ? 'Kích hoạt' : 'Vô hiệu hóa'}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    <p class="small text-center text-muted my-5">
        <em>More table examples coming soon...</em>
    </p>

</div>
<!-- /.container-fluid -->
</body>
</html>
